<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681806867338-hei8ujadpp1mpi9dtgtjqcgpj8ht7h1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681806867338-hei8ujadpp1mpi9dtgtjqcgpj8ht7h1b</string>
	<key>API_KEY</key>
	<string>AIzaSyD9bsG5-JN8rfcP5ts9RXcmac91651qTJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>681806867338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junyangzhang.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-8ad25</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-8ad25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681806867338:ios:364fe527e5dac9ba3ff673</string>
</dict>
</plist>